@import url(//db.onlinewebfonts.com/c/7f750a31d7968cb6929e7b261fd11468?family=FuturaDemiC);
@import url(//db.onlinewebfonts.com/c/e05b78cd627ded97c38881306e3601fe?family=FuturaBookC);
@import url(//db.onlinewebfonts.com/c/b11cd5c17e2744d4741c1cc464703bec?family=Leksa+Web);

@font-face {font-family: "FuturaDemiC"; 
  src: url("//db.onlinewebfonts.com/t/7f750a31d7968cb6929e7b261fd11468.eot"); 
  src: url("//db.onlinewebfonts.com/t/7f750a31d7968cb6929e7b261fd11468.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/7f750a31d7968cb6929e7b261fd11468.woff2") format("woff2"), 
  url("//db.onlinewebfonts.com/t/7f750a31d7968cb6929e7b261fd11468.woff") format("woff"), 
  url("//db.onlinewebfonts.com/t/7f750a31d7968cb6929e7b261fd11468.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/7f750a31d7968cb6929e7b261fd11468.svg#FuturaDemiC") format("svg"); }

  @font-face {font-family: "FuturaBookC"; 
    src: url("//db.onlinewebfonts.com/t/e05b78cd627ded97c38881306e3601fe.eot"); 
    src: url("//db.onlinewebfonts.com/t/e05b78cd627ded97c38881306e3601fe.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/e05b78cd627ded97c38881306e3601fe.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/e05b78cd627ded97c38881306e3601fe.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/e05b78cd627ded97c38881306e3601fe.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/e05b78cd627ded97c38881306e3601fe.svg#FuturaBookC") format("svg"); }

    @font-face {font-family: "Leksa Web"; 
      src: url("//db.onlinewebfonts.com/t/b11cd5c17e2744d4741c1cc464703bec.eot"); 
      src: url("//db.onlinewebfonts.com/t/b11cd5c17e2744d4741c1cc464703bec.eot?#iefix") format("embedded-opentype"), 
      url("//db.onlinewebfonts.com/t/b11cd5c17e2744d4741c1cc464703bec.woff2") format("woff2"), 
      url("//db.onlinewebfonts.com/t/b11cd5c17e2744d4741c1cc464703bec.woff") format("woff"), 
      url("//db.onlinewebfonts.com/t/b11cd5c17e2744d4741c1cc464703bec.ttf") format("truetype"), 
      url("//db.onlinewebfonts.com/t/b11cd5c17e2744d4741c1cc464703bec.svg#Leksa Web") format("svg"); }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #F5F3F0;
}
